@import url(https://fonts.googleapis.com/css?family=Raleway&display=swap);
body {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    margin: 0;
}

/* styling all site links here */
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);   
    box-shadow: 0px 0px 100px 0px rgba(183, 183, 183);
    height: 10vh;
    padding: 1vh;
    position: relative; /*for box shadow to show*/
}

.navcontent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.navname {
    margin: 1vh;
}

.navbar a, #to-creative {
    text-decoration: none;
    color: rgb(182, 182, 182);  
}

.navbar a {
    padding: 1.2vh;
}

.navbar a:hover, #to-creative:hover {
    color: orange;
}

.navbar a:active, #to-creative:active {
    color: blue;
}

.active {
    color: rgb(59, 59, 59);
    border-bottom: 3px solid blue;
}

.content {
    height: 68vh;
    padding: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


/*creative*/
#creative-navbar {
    visibility: hidden;
}

#creative-home {
    visibility: visible;
}


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255); 
    box-shadow: 0px 0px 100px 0px rgba(183, 183, 183);
    position: relative; /* bottom of styling for everything to show - why?*/
}

.socials {
    border: solid 2px rosybrown;
    padding: 100px;
    /*perspective: 500px;
    transform-style: preserve-3d;
    transform: rotateX(45deg);*/
}

/*icons*/
.fab, .far {
    padding: 1vh;
    cursor: pointer;
}

.fa-instagram:hover {
    color: linear-gradient(to bottom, #6600cc 0%, #ff6600 100%);
}

.fa-linkedin:hover {
    color: #0077B5;
}

.fa-github:hover {
    color: rgb(36, 41, 46);
}

.fa-envelope:hover {
    color: blue;
}

#copyright {
    margin: 0;
}
















/*home*//*
.name {
    
}





/*experience*/
/*#experience-content {
    justify-content: start;
    padding: 10vh;
}*/

.timeline {
    border: yellow 3px solid;
    overflow-x: scroll;
    padding: 1vh;
    width: 100%;
    height: 30%;
    position: relative;
}

.timeline-content {
    border: pink 3px solid;
    margin-top: 3vh;
    padding: 1vh;
    width: 80%;
    height: 70%;
}
  
/* The actual timeline (the horizontal ruler) */
.timeline::after {
    content: '';
    position: absolute;
    height: 0.5vh;
    width: 80%;
    background-color: blue;
    top: 2.5vh;
    right: 0;
}

/* Arrows on the timeline */
.container::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 3vh;
    width: 0;
    z-index: 1;
    right: 1vw;
    border: medium solid rgb(255, 4, 4);
    border-width: 10px 10px 10px 10px;
    border-color: rgb(255, 0, 0) transparent transparent transparent ;
  }
  
 







/*projects*/
#projects-content {
    flex-direction: row;
}

#projects-content h2 {
    margin: 0;
    color: blue;
}

#projects-content h6 {
    margin-top: 0;
}

#projects-content h2:hover {
    color: orange;
    cursor: pointer;
}

.projects-name {
    padding-right: 20px;
    flex-basis: 25%;
    border-right: blue solid 1px;
}

.projects-info {
    padding-left: 40px; 
    flex-basis: 75%;
}

.a-project {
    height: 25vh;
    margin: 3vh 0 6vh 0;
   /* display: flex;
    flex-direction: column;
    justify-content: center;*/
}

.a-project ul {
    margin-top: 0;
}

.a-project p {
    margin-bottom: 0;
}

.a-project ul > li {
    list-style: none;
    text-indent: -15px;
}

.a-project ul > li:before {
    content: "- ";
    text-indent: -5px;
}


/*contact*/








p {
    color: black;
}


