@import url(https://fonts.googleapis.com/css?family=Raleway&display=swap);
body {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    background-color: rgb(240, 240, 240);
    margin: 0;
}

/* styling all site links here */
.navbar a, #to-creative {
    text-decoration: none;
    color: rgb(182, 182, 182);  
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);   
}

.navbar a {
    padding: 5px;
    margin-top: 50px;
}

.navbar a:hover, #to-creative:hover {
    color: orange;
}

.navbar a:active, #to-creative:active {
    color: blue;
}

.active {
    color: rgb(59, 59, 59);
    border-bottom: 3px solid blue;
}

.content {
    height: 70vh;
    padding: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: visible;
}


/*creative & projects*/
#creative-navbar, #projects-navbar{
    visibility: hidden;
}

#creative-home, #backto-projects {
    visibility: visible;
}




/*home*/






/*experience*/






/*projects*/
#projects-content {
    flex-direction: row;
    height: auto;
}

#projects-content h2 {
    margin: 0;
    color: blue;
}

#projects-content h6 {
    margin-top: 0;
}

#projects-content h2:hover {
    color: orange;
    cursor: pointer;
}

.projects-details {
    padding-right: 20px;
    flex-basis: 30%;
    border-right: blue solid 1px;
}

.projects-here {
    padding-left: 20px; 
    flex-basis: 70%;
}

.a-project {
    height: 25vh;
    margin-bottom: 5vh;
}




/*contact*/


.socials {
    background-color: rosybrown;
    padding: 100px;
    /*perspective: 500px;
    transform-style: preserve-3d;
    transform: rotateX(45deg);*/
}






p {
    color: black;
}


