<!doctype html>
<html>
<head>
    <title>Experience</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}"/>
</head>

<body>
    <div class="navbar">
        <div class="navcontent">
            <h1 class="navname">Claire Ozee</h1>
            <div class="navlinks">
                <a href="/">Home</a>
                <a href="/experience" class="active">Experience</a>
                <a href="/projects">Projects</a>
                <a href="/thoughts">Thoughts</a>
            </div>
        </div>
    </div>
    <div class="content" id="experience-content">
        <div class="timeline">
            <div class="container c3">
                <h3><a>#100DaysOfCode</a></h3>
                <h6>Nov 2019</h6>
            </div>
            <div class="container c2">
                <h3>another experience - GS?</h3>
                <h6>July 2020</h6>
            </div>
            <div class="container c1">
                <h3>Silicon Valley</h3>
                <h6>Sep 2020</h6>
            </div>
        </div>
        <div class="timeline-content">
            <p>Silicon Valley</p>
            <p>#100DaysOfCode + images - twitter, microsoft, google, silicon valley</p>
        </div>
    </div>
    <div class="footer">
        <div class="footercontent">
           <i class="fab fa-instagram fa-2x"><a href="https://instagram.com/ozee.jpg/"></a></i>
   
           <i class="fab fa-linkedin fa-2x"><a href="https://linkedin.com/in/claireozee"></a></i>
   
           <i class="fab fa-github fa-2x"><a href="https://github.com/claireozee"></a></i>
   
           <i class="far fa-envelope fa-2x"></i>
       </div>
       <p id="copyright"><small><small>© 2020 Portfolio</small></small></p>
   </div>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/site.js') }}"></script>
<script src="https://kit.fontawesome.com/ace997583a.js"></script>
</body>
</html>