<!doctype html>
<html>
<head>
    <title>Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}"/>
</head>

<body>
    <div class="navbar">
        <div class="navcontent">
            <h1 class="navname">Claire Ozee</h1>
            <div class="navlinks">
                <a href="/">Home</a>
                <a href="/experience">Experience</a>
                <a href="/projects" class="active">Projects</a>
                <a href="/thoughts">Thoughts</a>
            </div>
        </div>
    </div>
    <div class="content" id="projects-content">

        
    </div>
    <div class="footer">
        <div class="footercontent">
           <i class="fab fa-instagram fa-2x"><a href="https://instagram.com/ozee.jpg/"></a></i>
   
           <i class="fab fa-linkedin fa-2x"><a href="https://linkedin.com/in/claireozee"></a></i>
   
           <i class="fab fa-github fa-2x"><a href="https://github.com/claireozee"></a></i>
   
           <i class="far fa-envelope fa-2x"></i>
       </div>
       <p id="copyright"><small><small>© 2020 Portfolio</small></small></p>
   </div>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/site.js') }}"></script>
<script src="https://kit.fontawesome.com/ace997583a.js"></script>
</body>
</html>