<!doctype html>
<html>
<head>
    <title>Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}"/>
</head>

<body>
    <div class="navbar" id="projects-navbar">
        <h1 class="navname">Claire Ozee</h1>
        <div class="navlinks">
            <a href="/">Home</a>
            <a href="/experience">Experience</a>
            <a href="/projects" class="active">Projects</a>
            <a href="/thoughts">Thoughts</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
    <div class="content" id="projects-content">

        
    </div>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/site.js') }}"></script>
</body>
</html>