<!doctype html>
<html>
<head>
    <title>Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}"/>
</head>

<body>
    <div class="navbar">
        <div class="navcontent">
            <h1 class="navname"><a href="/" class="backhome">Claire Ozee</a></h1>
            <div class="navlinks">
                <a href="/experience">Experience</a>
                <a href="/projects" class="active">Projects</a>
                <a href="/thoughts">Thoughts</a>
            </div>
        </div>
    </div>
    <div class="content" id="projects-content">
        <div class="projects-name">
            <div class="a-project" style="display: none">
                <h2><a id="....">Maths Prediction</a></h2><h6>___ 2020</h6>
                <p>Technologies used:<br/>
                    <ul>
                        <li>a</li>
                        <li>aa</li>
                        <li>aaa</li>
                    </ul>
                </p>
            </div>
            <div class="a-project" style="display: none">
                <h2><a id="....">Cyber x Corona</a></h2><h6>June 2020</h6>
                <p>Technologies used:<br/>
                    <ul>
                        <li>a</li>
                        <li>aa</li>
                        <li>aaa</li>
                    </ul>
                </p>
            </div>
            <div class="a-project" style="display: none">
                <h2><a id="....">Automate</a></h2><h6>Mar 2020</h6>
                <p>Technologies used:</p>
            </div>
            <div class="a-project 2">
                <h2><a id="....">Quarantine Games</h2></a><h6>May 2020</h6>
                <p>Technologies used:<br/>
                    <ul>
                        <li>a</li>
                        <li>aa</li>
                        <li>aaa</li>
                    </ul>
                </p>
            </div>
            <div class="a-project 1">
                <h2><a id="....">MOOD</h2></a><h6>Dec 2019</h6>
                <p>Technologies used:<br/>
                    <ul>
                        <li>a</li>
                        <li>aa</li>
                        <li>aaa</li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="projects-info"> <!--most recent at top-->
            <div class="a-project" style="display: none">
                <p>create new webpage for each</p>
                <p>aim, reason for starting project, result</p>
            </div>
            <div class="a-project" style="display: none">
                <p>create new webpage for each</p>
                <p>aim, reason for starting project, result</p>
            </div>
            <div class="a-project" style="display: none">
                <p>Automating part of my life</p>
            </div>
            <div class="a-project 2">
                <p>A series of games for your enjoyment whilst awaiting the lockdown to be lifted.</p>
                <p>agame.com</p>
            </div>
            <div class="a-project 1">
                <p>Based on the understanding on the impact music has on one's mood, this project was created to...</p>
                <p>Used the Spotify API - </p>
                <p>clone and improve it</p>
                <p>project goals: </p>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footercontent">
           <i class="fab fa-instagram fa-2x"><a href="https://instagram.com/ozee.jpg/"></a></i>
   
           <i class="fab fa-linkedin fa-2x"><a href="https://linkedin.com/in/claireozee"></a></i>
   
           <i class="fab fa-github fa-2x"><a href="https://github.com/claireozee"></a></i>
   
           <i class="far fa-envelope fa-2x"></i>
       </div>
       <p id="copyright"><small><small>© Ozee 2020</small></small></p>
   </div>    
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/site.js') }}"></script>
<script src="https://kit.fontawesome.com/ace997583a.js"></script>
</body>
</html>