<!doctype html>
<html>
<head>
    <title>Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}"/>
</head>

<body>
    <div class="navbar">
        <div class="navcontent">
            <h1 class="navname">Claire Ozee</h1>
            <div class="navlinks">
                <a href="/">Home</a>
                <a href="/experience">Experience</a>
                <a href="/projects" class="active">Projects</a>
                <a href="/thoughts">Thoughts</a>
            </div>
        </div>
    </div>
    <div class="content" id="projects-content">
        <div class="projects-details">
            <div class="a-project" style="display: none">
                <h2><a id="....">Maths Prediction</a></h2><h6>___ 2020</h6>
                <p>Technologies used - list?</p>
            </div>
            <div class="a-project" style="display: none">
                <h2><a id="....">Cyber x Corona</a></h2><h6>___ 2020</h6>
                <p>Technologies used - list?</p>
            </div>
            <div class="a-project" style="display: none">
                <h2><a id="....">Automate</a></h2><h6>Mar 2020</h6>
                <p>Technologies used</p>
            </div>
            <div class="a-project 2">
                <h2><a id="....">Quarantine Games</h2></a><h6>May 2020</h6>
                <p>Technologies used - list?</p>
            </div>
            <div class="a-project 1">
                <h2><a id="....">The CFG One</h2></a><h6>Dec 2019</h6>
                <p>Technologies used - list?</p>
            </div>
        </div>

        <div class="projects-here"> <!--most recent at top-->
            <div class="a-project" style="display: none">
                <p>create new webpage for each</p>
                <p>aim, reason for starting project, result</p>
            </div>
            <div class="a-project" style="display: none">
                <p>create new webpage for each</p>
                <p>aim, reason for starting project, result</p>
            </div>
            <div class="a-project" style="display: none">
                <p>Automating part of my life</p>
            </div>
            <div class="a-project 2">
                <p>Fun during...</p>
            </div>
            <div class="a-project 1">
                <p>Based on the understanding on the impact music has on one's mood, this project was created to...</p>
                <p>Used the Spotify API - </p>
                <p>clone and improve it</p>
            </div>
        </div>
        
    </div>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/site.js') }}"></script>
</body>
</html>